<app-late></app-late>
<!DOCTYPE html>
<html>
<head>
  <title>Crear Paciente</title>

</head>
<body>
  <div class="container">
    <h2>Crear Paciente</h2>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre" name="Nombre" [(ngModel)]="Genepa.Nombre">
        </div>
        <div class="form-group col-md-6">
          <label for="telefono">Teléfono:</label>
          <input type="tel" class="form-control" id="telefono" placeholder="Ingrese el número de teléfono" name="Telefono" [(ngModel)]="Genepa.Telefono">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fecha-nacimiento">Fecha de Nacimiento:</label>
          <input type="date" class="form-control" id="fecha-nacimiento" name="fecha_nacimiento"[(ngModel)]="Genepa.fecha_nacimiento">
        </div>
        <div class="form-group col-md-6">
          <label for="telefono">Genero:</label>
          <input type="text" class="form-control" id="Genero" placeholder="F=Femenino M=Maculino" name="Genero" [(ngModel)]="Genepa.Genero">
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="saveNewPaciente()">Agregar Paciente</button>
    </form>
  </div>
 </body>
<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 SaludParaTI. Todos los derechos reservados.</p>
  </footer>
</html>
