
<app-late></app-late>
<div class="card mx-auto">
    <div class="card-header bg-white text-center">
      <h5 style="color: black">Cita Medica</h5>
    </div>
    <form >
      <div class="entrada mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Especialidad"name="Especialidad" [(ngModel)]="cita.Especialidad"></div>
  
        <br>
        <div class="entrada mb-3">
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nombre del Paciente"name="NomPaciente" [(ngModel)]="cita.NomPaciente">
        </div>
        <div class="entrada mb-3">
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Numero de Telefono"  name="NumTelefono" [(ngModel)]="cita.NumTelefono">
        </div>
        <div class="entrada mb-3">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Motivo de la consulta"  name="Motivo" [(ngModel)]="cita.Motivo"></textarea>
        </div>
  
        <button type="submit" class="btn btn-dark" (click)="saveNewCita()" >Generar</button>
     
    </form>
  </div>

  <div class="container">
    <div class="row">
    <div class="col-md-4" *ngFor="let citas of citas1">
    
        <div class="card text-center">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                {{citas.Nombre}}
                <button class="btn btn-danger" (click)="delteCita(citas.id)"><!--Evento click cuando le de clic va a mandar a llamar al delete y le vamos a pasar el id al typescript-->
                    <i class="far fa-trash-alt"></i>
                </button>
            </div>
             <img src="{{citas.Especialidad}}" class="card-img-top"> <!--angular [src]="juego.image"-->
            <div class="card-body">
                <p>{{citas.description}}</p>
                <a [routerLink]="['/games/edit',citas.id]" class="btn btn-info btn-block">
                    EDIT GAME
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>


  
  <footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 SaludParaTI. Todos los derechos reservados.</p>
  </footer>
  