
<app-late></app-late>
<div class="card mx-auto">
    <div class="card-header bg-white text-center">
      <h5 style="color: black">Cita Medica</h5>
    </div>
    <form >
      <div class="entrada mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Especialidad"name="Especialidad" [(ngModel)]="cita.Especialidad"></div>
  
        <br>
        <div class="entrada mb-3">
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nombre del Paciente"name="NomPaciente" [(ngModel)]="cita.NomPaciente">
        </div>
        <div class="entrada mb-3">
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Numero de Telefono"  name="NumTelefono" [(ngModel)]="cita.NumTelefono">
        </div>
        <div class="entrada mb-3">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Motivo de la consulta"  name="Motivo" [(ngModel)]="cita.Motivo"></textarea>
        </div>
  
        <button type="submit" class="btn btn-dark" (click)="saveNewCita()" >Generar</button>
     
    </form>
  </div>

 

  
  <footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 SaludParaTI. Todos los derechos reservados.</p>
  </footer>
  