<app-late></app-late>
<div class="card mx-auto">
    <div class="card-header bg-white text-center">
        <h5 style="color: black">Cita Medica</h5>
    </div>
    <form (click)="sendMessage()">
        <div class="entrada mb-3">
            <input type="text" class="form-control" required id="formGroupExampleInput2" placeholder="Especialidad" name="Especialidad" [(ngModel)]="cita.Especialidad">
        </div>
        <br>
        <div class="entrada mb-3">
            <label for="genero">Nombre:</label>
            <select class="form-control" id="nombre" name="Nombre" [(ngModel)]="cita.NomPaciente">
              <option *ngFor="let ex of paciente" [ngValue]="ex.Nombre">{{ex.Nombre}}</option>
            </select>
        </div>
        <div class="entrada mb-3">
            <input type="text" class="form-control" required id="formGroupExampleInput2" placeholder="Numero de Telefono" name="NumTelefono" [(ngModel)]="cita.NumTelefono">
        </div>
        <div class="entrada mb-3">
            <textarea class="form-control" required id="exampleFormControlTextarea1" rows="3" placeholder="Motivo de la consulta" name="Motivo" [(ngModel)]="cita.Motivo"></textarea>
        </div>
        <button type="submit" class="btn btn-dark" (click)="saveNewCita()">Generar</button>
        <br>
        <br>
        <br>
        
    </form>
</div>
<br>
<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 SaludParaTI. Todos los derechos reservados.</p>
</footer>
