.formulario {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .btn-actualizar, .btn-cancelar {
    background-color: #007BFF; /* Azul primario */
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-cancelar {
    background-color: #DC3545; /* Rojo para botones de cancelar */
  }
  
  .btn-actualizar:hover, .btn-cancelar:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
  }