

.header {
    background-color: #007BFF; /* Azul primario */
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #F4F6F9; /* Fondo gris claro */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .btn-detalle {
    background-color: #28A745; /* Verde para botones positivos */
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-detalle:hover {
    background-color: #218838; /* Verde oscuro al pasar el mouse */
  }
  
  .footer {
    background-color: #343A40; /* Fondo gris oscuro */
    color: white;
    text-align: center;
    padding: 10px;
  }
  