<app-late></app-late>
<!DOCTYPE html>
<html>
<head>
    <title>Buscar Médicos</title>
   
</head>
<body>
   

        <div class="mt-4">
            <h2>Médicos Buscar</h2>
            <input type="text" class="form-control" id="search" placeholder="Buscar médico por nombre">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Especialidad</th>
                        <th>Teléfono</th>
                        <th>Correo Electrónico</th>
                    </tr>
                </thead>
                <tbody id="doctorTableBody">
                    <!-- Aquí se mostrarán los médicos registrados -->
                </tbody>
            </table>
        </div>
  
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2023 SaludParaTI. Todos los derechos reservados.</p>
    </footer>