<div class="header animate__animated animate__bounce">
    <div class="section">
        <span class="title">Citas Virtual</span>
    </div>
    <div class="section">
        <ul class="list-menu">
            <li class="btn-menu">
                <i class="uil uil-estate"></i>
            </li>
            <li class="btn-menu">
                <i class="uil uil-share"></i>
            </li>
        </ul>
    </div>
    <div class="section">
        <div class="wrapper-avatar">
           <img src="https://scontent.fcyw4-1.fna.fbcdn.net/v/t39.30808-6/254348880_106083825221620_3435221657284755512_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=FLTPeUm1F6UAX8p8V_9&_nc_ht=scontent.fcyw4-1.fna&oh=00_AfBB7P-l6HgUH1-ZeUJ1NOMtWJGOJTi_QyVkAv7IXrsDOg&oe=654E07F4" alt=""> 
        </div>
    </div>
</div>
<div class="wrapper-body">
    <div class="block animate__animated animate__bounce" (click)="goToRoom()">
        <div class="btn-block">
            <i class="uil uil-video"></i>
        </div>
        <div class="label-title">Nueva Reunión</div>
    </div>
</div> 