<app-late></app-late>

<div class="card mx-auto">
  <div class="card-header bg-white text-center">
    <h5 style="color: black">Login</h5>
  </div>
  <form>
    <div class="card-body">
      <div class="entrada mb-3">
        <i class="fa-regular fa-envelope fa-beat-fade" style="color: #000000;"></i>
        <input type="email"class="form-control"id="exampleInputEmail1" name="Correo" required="required"   placeholder="Correo Electrónico"/>
      </div>
      <div class="entrada mb-3">
        <i class="fa-solid fa-key fa-beat-fade" style="color: #000000;"></i>
        <input type="password"class="form-control"id="exampleInputPassword1" name="Contra" required="required"  placeholder="Contraseña"/>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Recuérdame</label>
      </div>
      <button type="button" class="btn btn-primary" type="submit">Iniciar Sesión </button>
      <div id="emailHelp" class="form-text">
        Al registrarse aceptas nuestras políticas de uso, Condiciones y Privacidad.
        ¿No tienes una cuenta? <a href="/registrar">Regístrate</a>
      </div>
    </div>
  </form>
</div>

<footer class="bg-dark text-white text-center py-3">
  <p>&copy; 2023 SaludParaTI. Todos los derechos reservados.</p>
</footer>
