.entrada{
    position: relative;
}

.tour{
    background-image: url('../../../assets/fondo.jpg'); 
    background-size: cover; /* Ajusta la imagen para cubrir todo el elemento */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed;
    height: 90vh; /* Ajusta la altura al 100% del viewport */
  }

.card {
    width: 400px;
    padding: 0px; /* Elimina la segunda declaración de padding: auto; */
    margin-top: 40px;
}


body{
    margin: 0;
    padding: 0;
}
  
i{
    position: absolute;
    left: 11px;
    top: 10px;
}
/*  
//ESTO ES LO DEL ICONO

.form-control{
    padding-left: 40px;
} */

.card{
    width: 400px;
    padding: 40px;
    padding: auto;
    margin-top: 40px;
}

button{
    width: 100%;
}

footer {
    position: absolute;
    bottom: 10;
    text-align: justify;
    width: 100%; 
}