<app-late></app-late>
<!DOCTYPE html>
<html>
<head>
  <title>Consulta médica</title>

</head>
<body>
  <div class="container">
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title">Consulta médica</h5>
        <p class="card-text">¿El paciente ha venido a una consulta?</p>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" [routerLink]="['/cargar-cita']">Sí</button>
          <button type="button" class="btn btn-primary" [routerLink]="['/PACGENE']">No</button>
        </div>
      </div>
    </div>
  </div>

 
</body>
</html>

<footer class="bg-dark text-white text-center py-3">
  <p>&copy; 2023 SaludParaTI. Todos los derechos reservados.</p>
</footer>


