<app-late></app-late>
<!DOCTYPE html>
<html>
<head>
  <title>Información del Paciente</title>
  
</head>
<body>
  <div class="container">
    <h2>Información del Paciente</h2>
    <input type="text" [formControl]="control" id="busqueda" class="form-control" placeholder="Buscar..." name="buscarpost" [(ngModel)]="buscarpost">
          <br>
    <div class="card">
      <div class="card-header">
        <h5>Datos Personales</h5>
      </div>
      <div class="card-body">
        <div class="form-row">
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Fecha Nacimiento</th>
                    <th>Genero</th>
                </tr>
            </thead>
            <tbody id="PacienteTableBody">
              <tr *ngFor="let ast of paciente | buscar:buscarpost">
              <td>{{ast.Nombre}}</td>
              <td>{{ast.Telefono}}</td>
              <td>{{ast.fecha_nacimiento | date:'dd-MMM-yyyy'}}</td>
              <td>{{ast.Genero}}</td>
              <td>
                <a type="button" class="btn btn-success"[routerLink]="['/paciente/',ast.Nombre]">Editar</a>
                <a type="button" class="btn btn-danger" (click)="deletePaciente(ast.Id)" >Eliminar</a>
              </td>
            </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        <h5>Registros Médicos</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead >
              <tr>
                <th>Paciente</th>
                <th>Fecha Consulta</th>
                <th>Diagnóstico</th>
                <th>Medicamento</th>
                <th>Médico</th>
               
              </tr>
            </thead>
            <tbody *ngFor="let ex of expediente | buscar:buscarpost">
              <tr>

                <td>{{ex.Nombre}}</td>
                <td>{{ex.Fecha | date:'dd-MMM-yyyy'}}</td>
                <td>{{ex.Diagnostico}}</td>
                <td>{{ex.MedRecetado}}</td>
                <td>{{ex.MedicoTratante}}</td>
                <td>
                  <a type="button" class="btn btn-success" [routerLink]="['/cargar-historial/',ex.idExpediente]">Editar</a></td>
                  <td> <a type="button" class="btn btn-danger" (click)="deleteExpediente(ex.idExpediente)">Eliminar</a>
                </td>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--<button (click)="exportToExcel()">Exportar a Excel</button>-->
</body>
</html>


  <footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 SaludParaTI. Todos los derechos reservados.</p>
  </footer>

