<app-late></app-late>
<!DOCTYPE html>
<html>
<head>
  <title>Información del Paciente</title>
  
</head>
<body>
  <div class="container">
    <h2>Información del Paciente</h2>
    <input type="text" [formControl]="control" id="busqueda" class="form-control" placeholder="Buscar...">
          <button class="btn btn-primary" id="lupa" (click)="buscarPaciente" >Buscar</button>
          <br>
          <br>
    <div class="card">
      <div class="card-header">
        <h5>Datos Personales</h5>
      </div>
      <div class="card-body">
        <div class="form-row">
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Fecha Nacimiento</th>
                    <th>Genero</th>
                </tr>
            </thead>
            <tbody id="PacienteTableBody" *ngFor="let ast of paciente">
              <tr>
              <td>{{ast.Nombre}}</td>
              <td>{{ast.Telefono}}</td>
              <td>{{ast.fecha_nacimiento | date:'dd-MMM-yyyy'}}</td>
              <td>{{ast.Genero}}</td>
            </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        <h5>Registros Médicos</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead >
              <tr>
                <th>Fecha</th>
                <th>Diagnóstico</th>
                <th>Médico</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody *ngFor="let ex of expediente">
              <tr>
                <td>{{ex.Fecha | date:'dd-MMM-yyyy'}}</td>
                <td>{{ex.Diagnostico}}</td>
                <td>{{ex.MedicoTratante}}</td>
                <td>
                  <a href="/cargar-historial" type="button" class="btn btn-dark">Ver Detalles</a>
                  <a href="/cargar-cita" type="button" class="btn btn-dark">Eliminar</a>
                </td>
              </tr>
              <tr>
                <td>Fecha del Registro 2</td>
                <td>Diagnóstico del Registro 2</td>
                <td>Médico del Registro 2</td>
                <td>
                  <a href="/cargar-historial" type="button" class="btn btn-dark">Ver Detalles</a>
                  <a href="/cargar-cita" type="button" class="btn btn-dark">Eliminar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>

  <footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 SaludParaTI. Todos los derechos reservados.</p>
  </footer>

