<app-late></app-late>

<div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let citas of cita">
        
        <div class="card text-center">
          <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{citas.IdCita}}
            <button class="btn btn-danger" (click)="deleteCita(citas.id)">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
          <div class="card-body">
            <p>{{citas.Especialidad}}</p>
            <p>{{citas.NomPaciente}}</p>
            <p>{{citas.NumTelefono}}</p>
            <p>{{citas.Motivo}}</p>
            <a [routerLink]="['/citas/edit', citas.id]" class="btn btn-info btn-block">Editar Cita</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 SaludParaTI. Todos los derechos reservados.</p>
  </footer>